<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <main>
      <% if (orders.length <= 0) { %>
         <h3>No orders yet!</h3>
      <% } else { %>
         <ul>
            <% orders.forEach(order => { %>
               <li>
                  <h1># <%= order._id %></h1>
                  <table border="1">
                     <thead>
                        <th width="50%">Product</th>
                        <th width="20%">Price</th>
                        <th width="10%">Qty</th>
                        <th width="20%">Sub total</th>
                     </thead>
                     <tbody>
                        <% order.products.forEach(p => { %>
                           <tr>
                              <td><%= p.product.title %></td>
                              <td>&#0036; <%= p.product.price %></td>
                              <td align="center"><%= p.quantity %></td>
                              <td>&#0036; <%= p.product.price * p.quantity %></td>
                           </tr>
                        <% }); %>
                     </tbody>
                  </table>
               </li>
               <li>
                  <h4>
                    Total: 
                  </h4>
               </li>
            <% }); %>
         </ul>
      <% } %>
   </main>
<%- include('../includes/end.ejs') %>